@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";

.about {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  line-height: 1.2;
  overflow: hidden;
  z-index: 0;
  @extend %headerShadow;

  .meta {
    position: relative;
    z-index: 0;
    height: 270px;
  }
  .about__photo {
    background-image: url('#{$img-path}/8.jpg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .about__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    position: relative;
    z-index: 1;
    padding: 10px;

    @media (min-width: $breakpoint-desktop-small) {
      padding: 20px;

    }
  }

  @media (min-width: $breakpoint-desktop-small) {
    flex-direction: row;
    max-width: 1000px;
    .meta {
      flex-basis: 45%;
      height: auto;
    }
    .about__description {
      flex-basis: 55%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $primary-color;
        width: 40px;
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

  }
}

.info{
  background-color: $secondary-color;
}