@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";

.about {
  //background-image: url('#{$img-path}/about-01-01.png');
  //background-size: cover;
  //background-position: center;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  line-height: 1.2;
  overflow: hidden;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;

  .meta {
    position: relative;
    z-index: 0;
    height: 270px;
  }
  .about__photo {
    background-image: url('#{$img-path}/8.jpg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .about__description {
    padding: 1rem;
    background: $primary-color;
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    font-size: 1.2rem;
    font-family: $sectionText-font;
  }

  @media (min-width: $breakpoint-mobile-extraLarge) {
    //wycentrowanie
    margin-left: 60px;
    flex-direction: row;
    max-width: 950px;
    .meta {
      flex-basis: 45%;
      height: auto;
    }
    .about__description {
      flex-basis: 55%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $primary-color;
        width: 40px;
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}