@import "../abstracts/_variables.scss";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info__text{
      text-align: center;
    }
  }
  .messageForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}