@import "../abstracts/_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-image: url('#{$img-path}/powder_contact.jpg');
  background-size: cover;
  background-position: center;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info__text {
      text-align: center;
    }
    .info__icon {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        font-size: 50px;
      }
      &:last-child {
        font-size: 50px;

      }
    }
  }
  .messageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 80vw;
    //padding-right: 100px;
    //margin-left: 250px;
    background-color: $primary-color;
  }

  @media (min-width: $breakpoint-desktop-small) {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .info__icon {
      align-items: center;
      justify-content: center;
    }
    .messageForm {
      width: 60vw;
      //-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      //-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

  }
}