@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";

.messageForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
    }
.about{
  &:last-of-type {
    margin-top: 70px;

    @media (min-width: $breakpoint-desktop-small) {
      flex-direction: row;
      max-width: 950px;
    }
  }
}
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .info__text {
      padding-top: 20px;
      text-align: center;
      font-size: 60px;
    }}