@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/about-01-01.png");
  background-position: center;
  background-size: cover;
  background-color: $primary-color;
  height: 100vh;
  @extend %headerShadow;


}
.header__wrapper{
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
