@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &::after {
    overflow: hidden;
    content: "";
    width: 80%;
    height: 80%;
    top: 50px;
    background-color: rgba(255,255, 255, 1);
    display: block;
    position: absolute;
    @extend %headerShadow;

  }

}

