@import "../abstracts/_variables.scss";
@import "../abstracts/_mixxins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //background-image: url('#{$img-path}/tojeto-01.png');
  //background-repeat: no-repeat;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-image: url('#{$img-path}/header_end-01.png');
  //background-size: cover;
  //background-position: center;
  height: 100vh;


  //&::after {
  //  content: "";
  //  width: 80%;
  //  height: 80%;
  //  top: 50px;
  //  background-color: rgba(239, 231, 236, 0.8);
  //  display: block;
  //  position: absolute;
  //  @extend %headerShadow;
  //
  //}

}

