@import "../abstracts/_variables.scss";

label {
  width: 80vw;
  @media (min-width: $breakpoint-mobile-extraLarge) {
    width: 60vw;
  }
  @media (min-width: $breakpoint-desktop-small) {
    width: 40vw;
  }
}

input {
  height: 50px;
}

textarea {
  height: 100px;
  padding-top: 17px;
}

label{
  font-size: 22px;
  font-family: $about-title-font;
  color: $secondary-color;
  display: block;
  margin-top: 5px;


}


input, textarea {
  padding: 0;
  padding-left: 10px;

  display: block;
  width: 80vw;
  margin: 0 auto;
  border: none;
  resize: none;
  font-size: 20px;
  font-family: $about-title-font;
  background-color: $primary-color;
  color: $infoText-color;
  outline: none;
  border-bottom: 2px solid $subtitle-color;

  &:focus{
    border-bottom: 2px solid $secondary-color;

  }
  @media (min-width: $breakpoint-mobile-extraLarge) {
    width: 60vw;
  }
  @media (min-width: $breakpoint-desktop-small) {
    width: 40vw;
  }
}
.messageForm__validation--active{
  color: $infoText-color;
  font-size: 18px;
  font-family: $about-title-font;
}