h1{
	color: white;
	font-family: 'Arvo', monospace;
	font-size: 70px;
}
h2{
	font-size: 40px;
	color: white;

}

body{
	background-color: white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.header{

	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	background-image: url("../../images/tlo2-02.png");
	background-size: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0 12px 14px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 12px 14px -8px rgba(0,0,0,0.75);
	box-shadow: 0 12px 14px -8px rgba(0,0,0,0.75);
	z-index: -1;
}
.about{
	width: 100%;
	height: 400px;
	background : -moz-linear-gradient(52.27% 78.4% 100.38deg, rgba(184, 145, 171, 1) 0%,rgba(198, 171, 181, 1) 83.67%);
	background : -webkit-linear-gradient(100.38deg, rgba(184, 145, 171, 1) 0%, rgba(198, 171, 181, 1) 83.67%);
	background : -webkit-gradient(linear,52.27% 78.4% ,45% -12.64% ,color-stop(0,rgba(184, 145, 171, 1) ),color-stop(0.8367,rgba(198, 171, 181, 1) ));
	background : -o-linear-gradient(100.38deg, rgba(184, 145, 171, 1) 0%, rgba(198, 171, 181, 1) 83.67%);
	background : -ms-linear-gradient(100.38deg, rgba(184, 145, 171, 1) 0%, rgba(198, 171, 181, 1) 83.67%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B891AB', endColorstr='#C6ABB5' ,GradientType=0)";
	background : linear-gradient(-10.38deg, rgba(184, 145, 171, 1) 0%, rgba(198, 171, 181, 1) 83.67%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B891AB',endColorstr='#C6ABB5' , GradientType=1);}

button{
	width: 200px;
	height: 70px;
	font-size: 40px;
	background-color:rgba(0, 0, 0, 0.0);
	border: 2px solid deeppink;
	font-family: 'Arvo', monospace;


}
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 300px 300px 300px;
	background-color: #fff;
	color: #444;
}

.box {
	color: #fff;
	border-radius: 5px;
	font-size: 150%;
	width: 300px;
	height: 300px;

}

//gallery
@import url('https://fonts.googleapis.com/css?family=Arvo');

