@import "../abstracts/_variables.scss";


.header__title{
  @media (min-width: $breakpoint-mobile-extraLarge ) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $breakpoint-desktop-small ) {
    width:795px;
  }
  @media (min-width: $breakpoint-desktop-medium ) {
    width: 900px;
  }
  h1{
    font-family: $title-font;
    color: $title-color;
    text-align: center;

    font-size: 100px;
    line-height: 85px;

    @media (min-width: $breakpoint-mobile-medium ) {
      font-size: 120px;
      line-height: 100px;
    }
    @media (min-width: $breakpoint-mobile-large ) {
      font-size: 140px;
      line-height: 115px;
    }
    @media (min-width: $breakpoint-mobile-extraLarge ) {
      font-size: 135px;
      line-height: 170px;
      &:first-child{
        padding-right: 17px;
      }
    }
    @media (min-width: $breakpoint-desktop-small ) {
      font-size: 160px;
    }
    @media (min-width: $breakpoint-desktop-medium ) {
      font-size: 180px;
    }
  }


}

.header__subtitle{

  font-family: $subtitle-font;
  color: $subtitle-color;
  padding-top: 20px;
  font-size: 25px;


  @media (min-width: $breakpoint-mobile-medium ) {
    padding-top: 25px;
    font-size: 30px;
  }
  @media (min-width: $breakpoint-mobile-large ) {
    padding-top: 40px;
    font-size: 30px;

  }
  @media (min-width: $breakpoint-mobile-extraLarge ) {
    padding-top: 0;
    font-size: 40px;
  }
  @media (min-width: $breakpoint-desktop-small ) {
    text-align: right;
    font-size: 35px;
    width:795px;
    line-height: 8px;
  }
  @media (min-width: $breakpoint-desktop-medium ) {
    font-size: 40px;
    width: 900px;
    line-height: 10px;
  }

}

.sectionTitle{
  font-family: $sectionTitle-font;
  color: $subtitle-color;
  font-size: 50px;
  padding-bottom: 20px;
}

.sectionText{
  font-family: $sectionText-font;
  color: $sectionText-color;
}

.info__text{
  font-family: $subtitle-font;
  color: $infoText-color;
  font-size: 50px;
}
.footer__copyrights{
  font-family: $copyrights-font;
  color: $sectionText-color;
}